
body{
    background-color: #FDEAB5;
    
}

.header{
    position: relative;
    font-family: 'Roboto Slab', serif;
    color: #3C2415;
    top: 0;
    text-align: center;
    font-size: 3em;
}

   .container {
    margin: 50px 10% 45px 20%;
    font-family: 'Roboto Slab', serif;
    color: #3C2415;
    font-size: 2em;
    width: 50%px;
    position: relative;
    float: left;
    
}

.container p{
    text-align: center;
    position: absolute;
    margin: 5px 0 0 0;

}

.ventana{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    justify-content: space-around;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.ventanaCaja {
	background-color: #FFF2DF;
	margin: 5px auto;
	width: 80%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
    border-radius:10px;
    border: 2px solid #3C2415;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.ventanaCaja img {
    border-radius: 10px 0 0 10px;
}

.close {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.info {
	margin: 0 auto;
	margin-left: 15px;
	display: flex;
	flex-flow: column nowrap;
}

.info h1{
    font-size: 30px;
    color: #8AC33F;
    margin-top: 30px; 
}

.info p{
    font-size: 20px;
	overflow: hidden;
    width: 40%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	flex-flow: row nowrap;
    text-align: left;
    line-height: 1.5;
    font-weight: lighter;
    color: #754C29;
}

.info p b{
    color: #8AC33F;
}

.info p span{
    color: #3C2415;
}


.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

.image :hover{
    border: 1px solid #fff;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'roboto_slabthin';
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;


